# Pandas Serileri

In [1]:
# 1. Elle yazarak pandas serisi tanımla
# 2. Array kullanarak pandas serisi tanımla
# 3. Sözlük kullanrak pandas serisi tanımla
# 4. Tanımladığın serideki bir indekse karşılık gelen değeri göster

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
s = pd.Series(data=[1,2,3,4,5],index=["A","B","C","D","E"]) # Cevap 1

In [5]:
s

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [6]:
r = np.array([1,2,3,4,5])

In [7]:
r

array([1, 2, 3, 4, 5])

In [8]:
i = ["A","B","C","D","E"]

In [9]:
i

['A', 'B', 'C', 'D', 'E']

In [10]:
s2 = pd.Series(r, i) # Cevap 2

In [11]:
s2

A    1
B    2
C    3
D    4
E    5
dtype: int32

In [16]:
sz = {
    "A":1,
    "B":2,
    "C":3,
    "D":4,
    "E":5
}

In [17]:
sz

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}

In [18]:
s3 = pd.Series(sz) #Cevap 3

In [19]:
s3

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [20]:
s3["A"] #Cevap 4

1

# DataFrame Tanımlanması

In [21]:
from numpy.random import randn

In [22]:
# 1. 3x3'lük bir array tanımla. Normal dağılımdan sayı çek. DataFrame oluştur
# 2. Bir sütun yazdır.
# 3. Bir satır yazdır.
# 4. İki sütun yazdır.
# 5. Yeni sütun ekle. ***
# 6. Sütunları toplayarak yeni sütun oluştur.
# 7. Bir sütun sil.
# 8. Değişikilikleri kaydet.
# 9. Bir satırın bir hücresini yazdır.
# 10. İki satır iki sütundan oluşan bir alt frame yazdır.

In [25]:
df = pd.DataFrame(np.random.randn(3,3),["A","B","C"],columns=["Sütun 1", "Sütun 2", "Sütun 3"]) #Cevap 1

In [26]:
df

    Sütun 1   Sütun 2   Sütun 3
A  3.139965  0.682129 -1.385471
B -0.695491 -0.084192  0.419949
C  0.749831 -1.769799 -0.883740

In [27]:
df["Sütun 1"] #Cevap 2

A    3.139965
B   -0.695491
C    0.749831
Name: Sütun 1, dtype: float64

In [28]:
df.loc["B"] #Cevap 3

Sütun 1   -0.695491
Sütun 2   -0.084192
Sütun 3    0.419949
Name: B, dtype: float64

In [29]:
df[["Sütun 1", "Sütun 2"]] #Cevap 4

    Sütun 1   Sütun 2
A  3.139965  0.682129
B -0.695491 -0.084192
C  0.749831 -1.769799

In [36]:
df["Sütun 4"] = pd.Series(data=np.random.randn(3), index=["A","B","C"]) #Cevap 5

In [37]:
df

    Sütun 1   Sütun 2   Sütun 3   Sütun 4
A  3.139965  0.682129 -1.385471  0.374814
B -0.695491 -0.084192  0.419949 -1.662586
C  0.749831 -1.769799 -0.883740 -0.386200

In [38]:
df["Sütun 5"] = df["Sütun 1"] + df["Sütun 2"] #Cevap 6

In [39]:
df

    Sütun 1   Sütun 2   Sütun 3   Sütun 4   Sütun 5
A  3.139965  0.682129 -1.385471  0.374814  3.822094
B -0.695491 -0.084192  0.419949 -1.662586 -0.779683
C  0.749831 -1.769799 -0.883740 -0.386200 -1.019969

In [43]:
df.drop("Sütun 2", axis=1) #Cevap 7

    Sütun 1   Sütun 3   Sütun 4   Sütun 5
A  3.139965 -1.385471  0.374814  3.822094
B -0.695491  0.419949 -1.662586 -0.779683
C  0.749831 -0.883740 -0.386200 -1.019969

In [44]:
df

    Sütun 1   Sütun 2   Sütun 3   Sütun 4   Sütun 5
A  3.139965  0.682129 -1.385471  0.374814  3.822094
B -0.695491 -0.084192  0.419949 -1.662586 -0.779683
C  0.749831 -1.769799 -0.883740 -0.386200 -1.019969

In [45]:
df.drop("Sütun 3", axis=1, inplace=True) #Cevap 8

In [46]:
df

    Sütun 1   Sütun 2   Sütun 4   Sütun 5
A  3.139965  0.682129  0.374814  3.822094
B -0.695491 -0.084192 -1.662586 -0.779683
C  0.749831 -1.769799 -0.386200 -1.019969

In [51]:
df.loc["C","Sütun 2"] #Cevap 9

-1.7697994908385504

In [50]:
df.loc[["B","C"],["Sütun 2","Sütun 4"]] #Cevap 10

    Sütun 2   Sütun 4
B -0.084192 -1.662586
C -1.769799 -0.386200

# DataFrame Filtreleme

In [52]:
# 1. Normal dağılımdan sayı çek. Bir DataFrame oluştur. -1'den büyük olanları boolean yazdır
# 2. DataFrame'de 0'dan küçük olanları NaN olarak yazdır
# 3. ve veya bağlaçları kullan
# 4. DataFrame kısa yoldan sütun ekle
# 5. String değişkenlerden oluşan yeni bir sütun oluştur
# 6. Bu sütunu indeks sütunu olarak belile
# 7. Değişikliği geçerli yap

In [53]:
vs = pd.DataFrame(data=np.random.randn(3,3), index=["A","B","C"],columns=["Sütun 1","Sütun 2","Sütun 3"])

In [54]:
vs

    Sütun 1   Sütun 2   Sütun 3
A -0.354747  1.101374  1.596717
B  0.276565  0.833434  0.239983
C -0.980486 -0.007329  0.891291

In [57]:
vs>-0.1 #Cevap 1

   Sütun 1  Sütun 2  Sütun 3
A    False     True     True
B     True     True     True
C    False     True     True

In [58]:
vs[vs>0] #Cevap 2

    Sütun 1   Sütun 2   Sütun 3
A       NaN  1.101374  1.596717
B  0.276565  0.833434  0.239983
C       NaN       NaN  0.891291

In [62]:
vs["Sütun 1"]>0

A    False
B     True
C    False
Name: Sütun 1, dtype: bool

In [63]:
vs[vs["Sütun 1"]>0]

    Sütun 1   Sütun 2   Sütun 3
B  0.276565  0.833434  0.239983

In [64]:
vs[vs["Sütun 3"]>1]

    Sütun 1   Sütun 2   Sütun 3
A -0.354747  1.101374  1.596717

In [66]:
vs[(vs["Sütun 1"]>0) | (vs["Sütun 3"]>1)] #Cevap 3

    Sütun 1   Sütun 2   Sütun 3
A -0.354747  1.101374  1.596717
B  0.276565  0.833434  0.239983

In [67]:
df

    Sütun 1   Sütun 2   Sütun 4   Sütun 5
A  3.139965  0.682129  0.374814  3.822094
B -0.695491 -0.084192 -1.662586 -0.779683
C  0.749831 -1.769799 -0.386200 -1.019969

In [68]:
df["Sütun 6"] = randn(3) #Cevap 4

In [69]:
df

    Sütun 1   Sütun 2   Sütun 4   Sütun 5   Sütun 6
A  3.139965  0.682129  0.374814  3.822094 -0.392961
B -0.695491 -0.084192 -1.662586 -0.779683 -0.936589
C  0.749831 -1.769799 -0.386200 -1.019969 -1.886193

In [70]:
df["Sütun 7"] = ["Etiket 1", "Etiket 2", "Etiket 3"] #Cevap 5

In [71]:
df

    Sütun 1   Sütun 2   Sütun 4   Sütun 5   Sütun 6   Sütun 7
A  3.139965  0.682129  0.374814  3.822094 -0.392961  Etiket 1
B -0.695491 -0.084192 -1.662586 -0.779683 -0.936589  Etiket 2
C  0.749831 -1.769799 -0.386200 -1.019969 -1.886193  Etiket 3

In [72]:
df.set_index("Sütun 7") #Cevap 6

           Sütun 1   Sütun 2   Sütun 4   Sütun 5   Sütun 6
Sütun 7
Etiket 1  3.139965  0.682129  0.374814  3.822094 -0.392961
Etiket 2 -0.695491 -0.084192 -1.662586 -0.779683 -0.936589
Etiket 3  0.749831 -1.769799 -0.386200 -1.019969 -1.886193

In [73]:
df

    Sütun 1   Sütun 2   Sütun 4   Sütun 5   Sütun 6   Sütun 7
A  3.139965  0.682129  0.374814  3.822094 -0.392961  Etiket 1
B -0.695491 -0.084192 -1.662586 -0.779683 -0.936589  Etiket 2
C  0.749831 -1.769799 -0.386200 -1.019969 -1.886193  Etiket 3

In [74]:
df.set_index("Sütun 7", inplace=True) #Cevap 7

In [75]:
df

           Sütun 1   Sütun 2   Sütun 4   Sütun 5   Sütun 6
Sütun 7
Etiket 1  3.139965  0.682129  0.374814  3.822094 -0.392961
Etiket 2 -0.695491 -0.084192 -1.662586 -0.779683 -0.936589
Etiket 3  0.749831 -1.769799 -0.386200 -1.019969 -1.886193

## DataFrame MultiIndex Gruplama

In [1]:
# 1. Dış ve iç indeksleri belirle
# 2. Dış ve iç indeksleri demet şeklinde grupla
# 3. Hiyerarşi değişkenini oluştur ***
# 4. Hiyerarşi değişkenini indeks olarak kullanarak MultiIndex dataframe oluştur ***
# 5. Dataframe üzerinde bir sütunu göster
# 6. Dataframe üzerinde bir dış indeksi göster
# 7. Dataframe üzerinde iki dış indeks göster
# 8. Dataframe üzerinde bir iç indeks göster
# 9. Indekslerin olduğu sütuna "Gruplar" ve "indeksler" diye isim ver ***
# 10. Bir dış indeksi diğer yoldan göster
# 11. Bir iç indeksi diğer yoldan göster
# 12. Bir hücreyi diğer yoldan göster
# 13. İç indeksi dış indeks yapıp bir dış indeksi göster ***

In [2]:
import pandas as pd
import numpy as np

In [4]:
Gruplar = ["Grup 1", "Grup 1", "Grup 1", "Grup 2", "Grup 2", "Grup 2", "Grup 3", "Grup 3", "Grup 3"]
Indexler = ["Index 1", "Index 2", "Index 3", "Index 1", "Index 2", "Index 3", "Index 1", "Index 2", "Index 3"] #Cevap 1

In [6]:
zip(Gruplar,Indexler) #Cevap 2

In [7]:
hierarchy = list(zip(Gruplar, Indexler))

In [8]:
hierarchy #Cevap 3

[('Grup 1', 'Index 1'),
 ('Grup 1', 'Index 2'),
 ('Grup 1', 'Index 3'),
 ('Grup 2', 'Index 1'),
 ('Grup 2', 'Index 2'),
 ('Grup 2', 'Index 3'),
 ('Grup 3', 'Index 1'),
 ('Grup 3', 'Index 2'),
 ('Grup 3', 'Index 3')]

In [11]:
hierarchy = pd.MultiIndex.from_tuples(hierarchy)

In [12]:
hierarchy

MultiIndex(levels=[['Grup 1', 'Grup 2', 'Grup 3'], ['Index 1', 'Index 2', 'Index 3']],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 2], [0, 1, 2, 0, 1, 2, 0, 1, 2]])

In [14]:
mdf = pd.DataFrame(data=np.random.randint(-10,11,27).reshape(9,3), index=hierarchy, columns=["Sütun 1", "Sütun 2", "Sütun 3"])  #Cevap 4

In [15]:
mdf

                Sütun 1  Sütun 2  Sütun 3
Grup 1 Index 1       -2       -8      -10
       Index 2       10        3        8
       Index 3        2       -8       -8
Grup 2 Index 1        6        7        0
       Index 2        4        7        9
       Index 3        8       -7        9
Grup 3 Index 1       -1       -1       -1
       Index 2       -9        1        8
       Index 3        3       -5        3

In [16]:
mdf["Sütun 1"] #Cevap 5

Grup 1  Index 1    -2
        Index 2    10
        Index 3     2
Grup 2  Index 1     6
        Index 2     4
        Index 3     8
Grup 3  Index 1    -1
        Index 2    -9
        Index 3     3
Name: Sütun 1, dtype: int32

In [18]:
mdf.loc["Grup 2"] #Cevap 6

         Sütun 1  Sütun 2  Sütun 3
Index 1        6        7        0
Index 2        4        7        9
Index 3        8       -7        9

In [19]:
mdf.loc[["Grup 2","Grup 3"]] #Cevap 7

                Sütun 1  Sütun 2  Sütun 3
Grup 2 Index 1        6        7        0
       Index 2        4        7        9
       Index 3        8       -7        9
Grup 3 Index 1       -1       -1       -1
       Index 2       -9        1        8
       Index 3        3       -5        3

In [22]:
mdf.loc["Grup 1"].loc["Index 3"] #Cevap 8

Sütun 1    2
Sütun 2   -8
Sütun 3   -8
Name: Index 3, dtype: int32

In [28]:
mdf.index.names = ("Dış indeksler","İç indeksler") #Cevap 9

In [29]:
mdf

                            Sütun 1  Sütun 2  Sütun 3
Dış indeksler İç indeksler
Grup 1        Index 1            -2       -8      -10
              Index 2            10        3        8
              Index 3             2       -8       -8
Grup 2        Index 1             6        7        0
              Index 2             4        7        9
              Index 3             8       -7        9
Grup 3        Index 1            -1       -1       -1
              Index 2            -9        1        8
              Index 3             3       -5        3

In [30]:
mdf.xs("Grup 1") #Cevap 10

              Sütun 1  Sütun 2  Sütun 3
İç indeksler
Index 1            -2       -8      -10
Index 2            10        3        8
Index 3             2       -8       -8

In [31]:
mdf.xs("Grup 1").xs("Index 2") #Cevap 11

Sütun 1    10
Sütun 2     3
Sütun 3     8
Name: Index 2, dtype: int32

In [32]:
mdf.xs("Grup 1").xs("Index 2").xs("Sütun 3") #Cevap 12

8

In [35]:
mdf.xs("Index 1", level="İç indeksler") #Cevap 13

               Sütun 1  Sütun 2  Sütun 3
Dış indeksler
Grup 1              -2       -8      -10
Grup 2               6        7        0
Grup 3              -1       -1       -1

# Kayıp veri analizi

In [36]:
# 1. Kayıp verilerden oluşan bir dataframe tanımla ***
# 2. Kayıp verilerin olduğu satırları sil
# 3. Kayıp verilerin olduğu sütunları sil
# 4. Kayıp verilerin olduğu satırları belli bir kritere göre sil
# 5. Kayıp verileri 0 ile doldur
# 6. Kayıp verileri tüm değerlerin ortamalasıyla doldur ***
# 7. Kayıp verileri satır ortalamasıyla doldur
# 8. Kayıp verileri sütun ortalamasıyla doldur

In [38]:
r = np.array([[25, 12, np.nan, 7],[10, 0, 75, 50],[np.nan, np.nan, 15, 15],[45, 100, 5, 20]])

In [39]:
r

array([[  25.,   12.,   nan,    7.],
       [  10.,    0.,   75.,   50.],
       [  nan,   nan,   15.,   15.],
       [  45.,  100.,    5.,   20.]])

In [40]:
kdf = pd.DataFrame(data=r,index=["A","B","C","D"],columns=["S1","S2","S3","S4"])

In [41]:
kdf #Cevap 1

     S1     S2    S3    S4
A  25.0   12.0   NaN   7.0
B  10.0    0.0  75.0  50.0
C   NaN    NaN  15.0  15.0
D  45.0  100.0   5.0  20.0

In [42]:
kdf.dropna() #Cevap 2

     S1     S2    S3    S4
B  10.0    0.0  75.0  50.0
D  45.0  100.0   5.0  20.0

In [43]:
kdf.dropna(axis=1) #Cevap 3

     S4
A   7.0
B  50.0
C  15.0
D  20.0

In [45]:
kdf.dropna(thresh=3) #Cevap 4

     S1     S2    S3    S4
A  25.0   12.0   NaN   7.0
B  10.0    0.0  75.0  50.0
D  45.0  100.0   5.0  20.0

In [46]:
kdf.fillna(0) #Cevap 5

     S1     S2    S3    S4
A  25.0   12.0   0.0   7.0
B  10.0    0.0  75.0  50.0
C   0.0    0.0  15.0  15.0
D  45.0  100.0   5.0  20.0

In [50]:
toplam = kdf.sum().sum()

In [64]:
hücre_adet = kdf.size

In [65]:
boşhücre_adet = kdf.isnull().sum().sum()

In [66]:
def ortalama(kdf):
    return toplam/(hücre_adet-boşhücre_adet)

In [67]:
kdf.fillna(ortalama(kdf)) #Cevap 6

          S1          S2         S3    S4
A  25.000000   12.000000  29.153846   7.0
B  10.000000    0.000000  75.000000  50.0
C  29.153846   29.153846  15.000000  15.0
D  45.000000  100.000000   5.000000  20.0

## GroupBy operasyonları

In [86]:
# 1. Anabilim dalından oluşan bir veriseti tanımla, dataframe oluştur
# 2. Herbir anabilim dalının toplam gelirini hesapla ***
# 3. Üretim Yönetimi anabilim dalının toplam gelirini göster ***
# 4. Herbir anabilim dalında kaç kişi var say
# 5. Herbir anabilim dalında en yüksek geliri olanları yazdır
# 6. Üretim Yönetimi anabilim dalı en düşük geliri olanı göster
# 7. Üretim Yönetimi ortalama maaş göster

In [98]:
işletme = {
    "1.Öğretim Üyesi":["Prof.Dr. Halim Kazan","Prof.Dr. Erdinç Altay","Prof. Dr. Şebnem Arıkboğa","Prof.Dr. Süphan Nasır","Prof.Dr. Selahattin Karabınar","Prof.Dr. Mehmet Saraç","Doç.Dr. Duygu Anıl Keskin","Doç.Dr. Mahmut Hızıroğlu","Dr.Öğr.Ü. Arif Saldanlı","Dr.Öğr.Ü. Burçay Yaşar Akçalı","Dr.Öğr.Ü. Mehmet Sabri Topak","Dr.Öğr.Ü. Elçin Şişmanoğlu","Dr.Öğr.Ü. Zekeriya Emre Erkal","Dr.Öğr.Ü. Hatice Anıl Değermen","Öğr.Ü.Dr. Mehmet Baykal","Öğr.Ü.Dr. Yaprak Burçak Boydak Öztaş","Dr.Öğr.Ü. Bora Yıldız","Dr.Öğr.Ü. Buket Akdöl","Dr.Öğr.Ü. Ebru Doğan","Dr.Öğr.Ü. Sema Yolaç","Arş.Gör. Yiğit Yurder","Arş.Gör. Sümeyra Uzun","Arş. Gör. Serdar Semih Coşkun","Arş.Gör. Oğuzhan İrengün","Arş.Gör. Ahmet Çağlar Saygılı"],
    "2.Anabilim Dalı":["Üretim Yönetimi","Finans","Yönetim ve Organizasyon","Pazarlama","Muhasebe","Finans","Muhasebe","Yönetim ve Organizasyon","Finans","Finans","Finans","Muhasebe","Muhasebe","Pazarlama","Pazarlama","Pazarlama","Yönetim ve Organizasyon","Yönetim ve Organizasyon","Yönetim ve Organizasyon","Yönetim ve Organizasyon","Pazarlama","Finans","Üretim Yönetimi","Yönetim ve Organizasyon","Üretim Yönetimi"],
    "3.Gelir":[13000,9500,9000,10000,9000,9500,8000,8500,10000,6000,8500,6000,5500,6000,6500,5500,8000,6000,5500,5500,5000,5000,5000,5000,5000]
}

In [99]:
işletme_bölümü = pd.DataFrame(işletme)

In [100]:
işletme_bölümü #Cevap 1

                         1.Öğretim Üyesi          2.Anabilim Dalı  3.Gelir
0                   Prof.Dr. Halim Kazan          Üretim Yönetimi    13000
1                  Prof.Dr. Erdinç Altay                   Finans     9500
2              Prof. Dr. Şebnem Arıkboğa  Yönetim ve Organizasyon     9000
3                  Prof.Dr. Süphan Nasır                Pazarlama    10000
4          Prof.Dr. Selahattin Karabınar                 Muhasebe     9000
5                  Prof.Dr. Mehmet Saraç                   Finans     9500
6              Doç.Dr. Duygu Anıl Keskin                 Muhasebe     8000
7               Doç.Dr. Mahmut Hızıroğlu  Yönetim ve Organizasyon     8500
8                Dr.Öğr.Ü. Arif Saldanlı                   Finans    10000
9          Dr.Öğr.Ü. Burçay Yaşar Akçalı                   Finans     6000
10          Dr.Öğr.Ü. Mehmet Sabri Topak                   Finans     8500
11            Dr.Öğr.Ü. Elçin Şişmanoğlu                 Muhasebe     6000
12         Dr.Öğr.Ü. Zekeriya Emre Erkal                 Muhasebe     5500
13        Dr.Öğr.Ü. Hatice Anıl Değermen                Pazarlama     6000
14               Öğr.Ü.Dr. Mehmet Baykal                Pazarlama     6500
15  Öğr.Ü.Dr. Yaprak Burçak Boydak Öztaş                Pazarlama     5500
16                 Dr.Öğr.Ü. Bora Yıldız  Yönetim ve Organizasyon     8000
17                 Dr.Öğr.Ü. Buket Akdöl  Yönetim ve Organizasyon     6000
18                  Dr.Öğr.Ü. Ebru Doğan  Yönetim ve Organizasyon     5500
19                  Dr.Öğr.Ü. Sema Yolaç  Yönetim ve Organizasyon     5500
20                 Arş.Gör. Yiğit Yurder                Pazarlama     5000
21                 Arş.Gör. Sümeyra Uzun                   Finans     5000
22         Arş. Gör. Serdar Semih Coşkun          Üretim Yönetimi     5000
23              Arş.Gör. Oğuzhan İrengün  Yönetim ve Organizasyon     5000
24         Arş.Gör. Ahmet Çağlar Saygılı          Üretim Yönetimi     5000

In [110]:
işletme_bölümü.groupby("2.Anabilim Dalı")

In [111]:
işletme_bölümü.groupby("2.Anabilim Dalı").sum() #Cevap 2

                         3.Gelir
2.Anabilim Dalı
Finans                     48500
Muhasebe                   28500
Pazarlama                  33000
Yönetim ve Organizasyon    47500
Üretim Yönetimi            23000

In [115]:
işletme_bölümü.groupby("2.Anabilim Dalı").sum().loc["Üretim Yönetimi"] #Cevap 3

3.Gelir    23000
Name: Üretim Yönetimi, dtype: int64

In [116]:
işletme_bölümü.groupby("2.Anabilim Dalı").count() #Cevap 4

                         1.Öğretim Üyesi  3.Gelir
2.Anabilim Dalı
Finans                                 6        6
Muhasebe                               4        4
Pazarlama                              5        5
Yönetim ve Organizasyon                7        7
Üretim Yönetimi                        3        3

In [117]:
işletme_bölümü.groupby("2.Anabilim Dalı").max() #Cevap 5

                                              1.Öğretim Üyesi  3.Gelir
2.Anabilim Dalı
Finans                                  Prof.Dr. Mehmet Saraç    10000
Muhasebe                        Prof.Dr. Selahattin Karabınar     9000
Pazarlama                Öğr.Ü.Dr. Yaprak Burçak Boydak Öztaş    10000
Yönetim ve Organizasyon             Prof. Dr. Şebnem Arıkboğa     9000
Üretim Yönetimi                          Prof.Dr. Halim Kazan    13000

In [118]:
işletme_bölümü.groupby("2.Anabilim Dalı").min().loc["Yönetim ve Organizasyon"] #Cevap 6

1.Öğretim Üyesi    Arş.Gör. Oğuzhan İrengün
3.Gelir                                5000
Name: Yönetim ve Organizasyon, dtype: object

In [120]:
işletme_bölümü.groupby("2.Anabilim Dalı").mean().loc["Yönetim ve Organizasyon"] #Cevap 7

3.Gelir    6785.714286
Name: Yönetim ve Organizasyon, dtype: float64

### Merge, Join and Concatenate

In [121]:
# 1. Ekonometri anabilim dalını dataframe olarak tanımla
# 2. İşletmenin altına ekle***
# 3. İşletmenin yanına ekle
# 4. SBF işletme bölümünü dataframe olarak tanımla
# 5. İktisat işletme ve SBF işletmeyi birleştir; bunun için bir anabilim dalını anahtar olarak kullan
# 6. Sütun değişkenleri farklı iki dataframe tanımla. Sırasıyla birbirlerine birleştir.

In [122]:
işltm = {
    "Öğretim Üyesi":["Prof.Dr. Halim Kazan","Prof.Dr. Erdinç Altay","Prof. Dr. Şebnem Arıkboğa","Prof.Dr. Süphan Nasır","Prof.Dr. Selahattin Karabınar","Prof.Dr. Mehmet Saraç","Doç.Dr. Duygu Anıl Keskin","Doç.Dr. Mahmut Hızıroğlu","Dr.Öğr.Ü. Arif Saldanlı","Dr.Öğr.Ü. Burçay Yaşar Akçalı","Dr.Öğr.Ü. Mehmet Sabri Topak","Dr.Öğr.Ü. Elçin Şişmanoğlu","Dr.Öğr.Ü. Zekeriya Emre Erkal","Dr.Öğr.Ü. Hatice Anıl Değermen","Öğr.Ü.Dr. Mehmet Baykal","Öğr.Ü.Dr. Yaprak Burçak Boydak Öztaş","Dr.Öğr.Ü. Bora Yıldız","Dr.Öğr.Ü. Buket Akdöl","Dr.Öğr.Ü. Ebru Doğan","Dr.Öğr.Ü. Sema Yolaç","Arş.Gör. Yiğit Yurder","Arş.Gör. Sümeyra Uzun","Arş. Gör. Serdar Semih Coşkun","Arş.Gör. Oğuzhan İrengün","Arş.Gör. Ahmet Çağlar Saygılı"],
    "Anabilim Dalı":["Üretim Yönetimi","Finans","Yönetim ve Organizasyon","Pazarlama","Muhasebe","Finans","Muhasebe","Yönetim ve Organizasyon","Finans","Finans","Finans","Muhasebe","Muhasebe","Pazarlama","Pazarlama","Pazarlama","Yönetim ve Organizasyon","Yönetim ve Organizasyon","Yönetim ve Organizasyon","Yönetim ve Organizasyon","Pazarlama","Finans","Üretim Yönetimi","Yönetim ve Organizasyon","Üretim Yönetimi"],
}

In [127]:
eknmtri = {
    "Öğretim Üyesi":["Prof.Dr. Nilgün Çil","Prof. Dr. Burak Güriş","Prof.Dr. Ercan Sarıdoğan","Prof. Dr. Ali Karun Nemlioğlu","Prof.Dr. Handan Yolsal","Prof.Dr. Mustafa Tekin","Doç.Dr. Burcu Kıran","Doç.Dr. Özlem Yorulmaz","Doç.Dr. Aylin Aktütün","Doç.Dr. Mehmet Hakan Satman","Arş.Gör. Halil İbrahim Gündüz","Arş. Gör. Hüseyin İçmez","Arş.Gör. Nimet Melis Esenyel","Arş. Gör. Haydar Ekelik"],
    "Anabilim Dalı":["Ekonometri","Ekonometri","İstatistik","İstatistik","Yöneylem","Yöneylem","Ekonometri","İstatistik","Yöneylem","Yöneylem","Ekonometri","Ekonometri","İstatistik","Yöneylem"]
}

In [124]:
işletme_bölüm = pd.DataFrame(işltm)

In [128]:
ekonometri_bölüm = pd.DataFrame(eknmtri)

In [129]:
işletme_bölüm

              Anabilim Dalı                         Öğretim Üyesi
0           Üretim Yönetimi                  Prof.Dr. Halim Kazan
1                    Finans                 Prof.Dr. Erdinç Altay
2   Yönetim ve Organizasyon             Prof. Dr. Şebnem Arıkboğa
3                 Pazarlama                 Prof.Dr. Süphan Nasır
4                  Muhasebe         Prof.Dr. Selahattin Karabınar
5                    Finans                 Prof.Dr. Mehmet Saraç
6                  Muhasebe             Doç.Dr. Duygu Anıl Keskin
7   Yönetim ve Organizasyon              Doç.Dr. Mahmut Hızıroğlu
8                    Finans               Dr.Öğr.Ü. Arif Saldanlı
9                    Finans         Dr.Öğr.Ü. Burçay Yaşar Akçalı
10                   Finans          Dr.Öğr.Ü. Mehmet Sabri Topak
11                 Muhasebe            Dr.Öğr.Ü. Elçin Şişmanoğlu
12                 Muhasebe         Dr.Öğr.Ü. Zekeriya Emre Erkal
13                Pazarlama        Dr.Öğr.Ü. Hatice Anıl Değermen
14                Pazarlama               Öğr.Ü.Dr. Mehmet Baykal
15                Pazarlama  Öğr.Ü.Dr. Yaprak Burçak Boydak Öztaş
16  Yönetim ve Organizasyon                 Dr.Öğr.Ü. Bora Yıldız
17  Yönetim ve Organizasyon                 Dr.Öğr.Ü. Buket Akdöl
18  Yönetim ve Organizasyon                  Dr.Öğr.Ü. Ebru Doğan
19  Yönetim ve Organizasyon                  Dr.Öğr.Ü. Sema Yolaç
20                Pazarlama                 Arş.Gör. Yiğit Yurder
21                   Finans                 Arş.Gör. Sümeyra Uzun
22          Üretim Yönetimi         Arş. Gör. Serdar Semih Coşkun
23  Yönetim ve Organizasyon              Arş.Gör. Oğuzhan İrengün
24          Üretim Yönetimi         Arş.Gör. Ahmet Çağlar Saygılı

In [130]:
ekonometri_bölüm #Cevap 1

   Anabilim Dalı                  Öğretim Üyesi
0     Ekonometri            Prof.Dr. Nilgün Çil
1     Ekonometri          Prof. Dr. Burak Güriş
2     İstatistik       Prof.Dr. Ercan Sarıdoğan
3     İstatistik  Prof. Dr. Ali Karun Nemlioğlu
4       Yöneylem         Prof.Dr. Handan Yolsal
5       Yöneylem         Prof.Dr. Mustafa Tekin
6     Ekonometri            Doç.Dr. Burcu Kıran
7     İstatistik         Doç.Dr. Özlem Yorulmaz
8       Yöneylem          Doç.Dr. Aylin Aktütün
9       Yöneylem    Doç.Dr. Mehmet Hakan Satman
10    Ekonometri  Arş.Gör. Halil İbrahim Gündüz
11    Ekonometri        Arş. Gör. Hüseyin İçmez
12    İstatistik   Arş.Gör. Nimet Melis Esenyel
13      Yöneylem        Arş. Gör. Haydar Ekelik

In [133]:
pd.concat([işletme_bölüm,ekonometri_bölüm]) #Cevap 2

              Anabilim Dalı                         Öğretim Üyesi
0           Üretim Yönetimi                  Prof.Dr. Halim Kazan
1                    Finans                 Prof.Dr. Erdinç Altay
2   Yönetim ve Organizasyon             Prof. Dr. Şebnem Arıkboğa
3                 Pazarlama                 Prof.Dr. Süphan Nasır
4                  Muhasebe         Prof.Dr. Selahattin Karabınar
5                    Finans                 Prof.Dr. Mehmet Saraç
6                  Muhasebe             Doç.Dr. Duygu Anıl Keskin
7   Yönetim ve Organizasyon              Doç.Dr. Mahmut Hızıroğlu
8                    Finans               Dr.Öğr.Ü. Arif Saldanlı
9                    Finans         Dr.Öğr.Ü. Burçay Yaşar Akçalı
10                   Finans          Dr.Öğr.Ü. Mehmet Sabri Topak
11                 Muhasebe            Dr.Öğr.Ü. Elçin Şişmanoğlu
12                 Muhasebe         Dr.Öğr.Ü. Zekeriya Emre Erkal
13                Pazarlama        Dr.Öğr.Ü. Hatice Anıl Değermen
14                Pazarlama               Öğr.Ü.Dr. Mehmet Baykal
15                Pazarlama  Öğr.Ü.Dr. Yaprak Burçak Boydak Öztaş
16  Yönetim ve Organizasyon                 Dr.Öğr.Ü. Bora Yıldız
17  Yönetim ve Organizasyon                 Dr.Öğr.Ü. Buket Akdöl
18  Yönetim ve Organizasyon                  Dr.Öğr.Ü. Ebru Doğan
19  Yönetim ve Organizasyon                  Dr.Öğr.Ü. Sema Yolaç
20                Pazarlama                 Arş.Gör. Yiğit Yurder
21                   Finans                 Arş.Gör. Sümeyra Uzun
22          Üretim Yönetimi         Arş. Gör. Serdar Semih Coşkun
23  Yönetim ve Organizasyon              Arş.Gör. Oğuzhan İrengün
24          Üretim Yönetimi         Arş.Gör. Ahmet Çağlar Saygılı
0                Ekonometri                   Prof.Dr. Nilgün Çil
1                Ekonometri                 Prof. Dr. Burak Güriş
2                İstatistik              Prof.Dr. Ercan Sarıdoğan
3                İstatistik         Prof. Dr. Ali Karun Nemlioğlu
4                  Yöneylem                Prof.Dr. Handan Yolsal
5                  Yöneylem                Prof.Dr. Mustafa Tekin
6                Ekonometri                   Doç.Dr. Burcu Kıran
7                İstatistik                Doç.Dr. Özlem Yorulmaz
8                  Yöneylem                 Doç.Dr. Aylin Aktütün
9                  Yöneylem           Doç.Dr. Mehmet Hakan Satman
10               Ekonometri         Arş.Gör. Halil İbrahim Gündüz
11               Ekonometri               Arş. Gör. Hüseyin İçmez
12               İstatistik          Arş.Gör. Nimet Melis Esenyel
13                 Yöneylem               Arş. Gör. Haydar Ekelik

In [134]:
pd.concat([işletme_bölüm,ekonometri_bölüm],axis=1) #Cevap 3

,Anabilim Dalı,Öğretim Üyesi,Anabilim Dalı,Öğretim Üyesi
0,Üretim Yönetimi,Prof.Dr. Halim Kazan,Ekonometri,Prof.Dr. Nilgün Çil
1,Finans,Prof.Dr. Erdinç Altay,Ekonometri,Prof. Dr. Burak Güriş
2,Yönetim ve Organizasyon,Prof. Dr. Şebnem Arıkboğa,İstatistik,Prof.Dr. Ercan Sarıdoğan
3,Pazarlama,Prof.Dr. Süphan Nasır,İstatistik,Prof. Dr. Ali Karun Nemlioğlu
4,Muhasebe,Prof.Dr. Selahattin Karabınar,Yöneylem,Prof.Dr. Handan Yolsal
5,Finans,Prof.Dr. Mehmet Saraç,Yöneylem,Prof.Dr. Mustafa Tekin
6,Muhasebe,Doç.Dr. Duygu Anıl Keskin,Ekonometri,Doç.Dr. Burcu Kıran
7,Yönetim ve Organizasyon,Doç.Dr. Mahmut Hızıroğlu,İstatistik,Doç.Dr. Özlem Yorulmaz
8,Finans,Dr.Öğr.Ü. Arif Saldanlı,Yöneylem,Doç.Dr. Aylin Aktütün
9,Finans,Dr.Öğr.Ü. Burçay Yaşar Akçalı,Yöneylem,Doç.Dr. Mehmet Hakan Satman
10,Finans,Dr.Öğr.Ü. Mehmet Sabri Topak,Ekonometri,Arş.Gör. Halil İbrahim Gündüz
11,Muhasebe,Dr.Öğr.Ü. Elçin Şişmanoğlu,Ekonometri,Arş. Gör. Hüseyin İçmez
12,Muhasebe,Dr.Öğr.Ü. Zekeriya Emre Erkal,İstatistik,Arş.Gör. Nimet Melis Esenyel
13,Pazarlama,Dr.Öğr.Ü. Hatice Anıl Değermen,Yöneylem,Arş. Gör. Haydar Ekelik
14,Pazarlama,Öğr.Ü.Dr. Mehmet Baykal,NaN,NaN
15,Pazarlama,Öğr.Ü.Dr. Yaprak Burçak Boydak Öztaş,NaN,NaN
16,Yönetim ve Organizasyon,Dr.Öğr.Ü. Bora Yıldız,NaN,NaN
17,Yönetim ve Organizasyon,Dr.Öğr.Ü. Buket Akdöl,NaN,NaN
18,Yönetim ve Organizasyon,Dr.Öğr.Ü. Ebru Doğan,NaN,NaN
19,Yönetim ve Organizasyon,Dr.Öğr.Ü. Sema Yolaç,NaN,NaN
20,Pazarlama,Arş.Gör. Yiğit Yurder,NaN,NaN
21,Finans,Arş.Gör. Sümeyra Uzun,NaN,NaN
22,Üretim Yönetimi,Arş. Gör. Serdar Semih Coşkun,NaN,NaN
23,Yönetim ve Organizasyon,Arş.Gör. Oğuzhan İrengün,NaN,NaN
24,Üretim Yönetimi,Arş.Gör. Ahmet Çağlar Saygılı,NaN,NaN

In [138]:
sbf_isl = {
    "Öğretim Üyesi":["Prof.Dr. Ferhat Yanık","Prof.Dr. Enis Sınıksaran","Prof.Dr. Emrah Cengiz","Prof.Dr. Murat Erdal","Prof.Dr. Selim Yazıcı","Prof.Dr. Zeynep Düren"],
    "Anabilim Dalı":["Muhasebe","Üretim","Pazarlama","Üretim","Pazarlama","Yönetim ve Organizasyon"]
}

In [139]:
pd.DataFrame(sbf_isl) #Cevap 4

             Anabilim Dalı             Öğretim Üyesi
0                 Muhasebe     Prof.Dr. Ferhat Yanık
1                   Üretim  Prof.Dr. Enis Sınıksaran
2                Pazarlama     Prof.Dr. Emrah Cengiz
3                   Üretim      Prof.Dr. Murat Erdal
4                Pazarlama     Prof.Dr. Selim Yazıcı
5  Yönetim ve Organizasyon     Prof.Dr. Zeynep Düren

### DataFrame Operasyonları - Pivot Table

In [ ]:
# 1. Dataframe tanımla
# 2. İlk 3 satırı al
# 3. İkinci sütunu yazdır
# 4. İkinci sütundaki eşsiz değerleri yazdır 
# 5. İkinci sütunda kaç tane eşsiz değer olduğunu yazdır
# 6. İkinci sütunda her değerden kaç tane geçtiğini yazdır ***
# 7. İki sütunu ve bağlacıyla indeksle
# 8. İkinci sütunu 3 ile çarp, dataframe güncelle
# 9. Fonksiyonu lambda kullanarak yaz
# 10. String içeren sütunu herbir stringing uzunluğunu yazdır
# 11. DataFrame de kaç tane sütun olduğunu göster
# 12. DataFrame de kaç tane satır olduğunu göster
# 13. DataFrame bir sütunu büyükten küçüğe sırala
# 14. DataFrame pivot table dönüştür ***

In [3]:
df = pd.DataFrame({
    "Column1":[1,2,3,4,5,6],
    "Column2":[100,100,200,300,300,100],
    "Column3":["Mustafa","Kamil","Emre","Ayşe","Murat","Zeynep"]
})

In [4]:
df #Cevap 1

   Column1  Column2  Column3
0        1      100  Mustafa
1        2      100    Kamil
2        3      200     Emre
3        4      300     Ayşe
4        5      300    Murat
5        6      100   Zeynep

In [5]:
df.head(n=3) #Cevap 2

   Column1  Column2  Column3
0        1      100  Mustafa
1        2      100    Kamil
2        3      200     Emre

In [6]:
df["Column2"] #Cevap 3

0    100
1    100
2    200
3    300
4    300
5    100
Name: Column2, dtype: int64

In [7]:
df["Column2"].unique() #Cevap 4

array([100, 200, 300], dtype=int64)

In [10]:
df["Column2"].nunique() #Cevap 5

3

In [12]:
df["Column2"].value_counts() #Cevap 6

100    3
300    2
200    1
Name: Column2, dtype: int64

In [14]:
df[(df["Column1"] > 3) & (df["Column2"] == 300)] #Cevap 7

   Column1  Column2 Column3
3        4      300    Ayşe
4        5      300   Murat

In [16]:
df["Column2"] = df["Column2"]*3 #Cevap 8

In [17]:
df

   Column1  Column2  Column3
0        1      300  Mustafa
1        2      300    Kamil
2        3      600     Emre
3        4      900     Ayşe
4        5      900    Murat
5        6      300   Zeynep

In [18]:
def üçkat(x):
    return 3*x

In [21]:
df["Column2"].apply(üçkat) #Cevap 8

0     900
1     900
2    1800
3    2700
4    2700
5     900
Name: Column2, dtype: int64

In [22]:
df["Column2"].apply(lambda x:x*2) #Cevap 9

0     600
1     600
2    1200
3    1800
4    1800
5     600
Name: Column2, dtype: int64

In [24]:
df["Column3"].apply(len) #Cevap 10

0    7
1    5
2    4
3    4
4    5
5    6
Name: Column3, dtype: int64

In [27]:
df.columns

Index(['Column1', 'Column2', 'Column3'], dtype='object')

In [31]:
len(df.columns) #Cevap 11

3

In [32]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [33]:
len(df.index) #Cevap 12

6

In [38]:
df["Column2"].sort_values(ascending=False)

4    900
3    900
2    600
5    300
1    300
0    300
Name: Column2, dtype: int64

In [43]:
df.sort_values("Column2",ascending=False,inplace=True) #Cevap 13

In [44]:
df

   Column1  Column2  Column3
3        4      900     Ayşe
4        5      900    Murat
2        3      600     Emre
0        1      300  Mustafa
1        2      300    Kamil
5        6      300   Zeynep

In [46]:
df2 = pd.DataFrame({
    "Ay" : ["Mart","Nisan","Mayıs","Mart","Nisan","Mayıs","Mart","Nisan","Mayıs"],
    "Şehir":["Ankara","Ankara","Ankara","İstanbul","İstanbul","İstanbul","İzmir","İzmir","İzmir"],
    "Nem":[10,25,50,21,67,80,30,70,75]
})

In [47]:
df2

      Ay  Nem     Şehir
0   Mart   10    Ankara
1  Nisan   25    Ankara
2  Mayıs   50    Ankara
3   Mart   21  İstanbul
4  Nisan   67  İstanbul
5  Mayıs   80  İstanbul
6   Mart   30     İzmir
7  Nisan   70     İzmir
8  Mayıs   75     İzmir

In [53]:
df2.pivot_table(values="Nem",index="Ay",columns="Şehir") #Cevap 14

Şehir  Ankara  İstanbul  İzmir
Ay
Mart       10        21     30
Mayıs      50        80     75
Nisan      25        67     70

## Temel Fonksiyonlar ve Metotlar

pd.Series()
pd.DataFrame()
pd.MultiIndex()
pd.concat([df1,df2])
pd.merge(df1,df2)
pd.merge(df1,df2)

df1.join(df2)
zip(i1,i2)
df.xs()
df.loc["A"]
df.drop()
df.set_index()
df.dropna()
df.fillna()
df.size
df.isnull
df.groupby()
df.groupby().count()
df.head()
df[].unique()
df[].nunique
df[].value_counts()
df[].apply(function)
len(df.columns)
len(df.index)
df.sort_values()
df.pivot_table()